* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  margin: 0;
  outline: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  overflow: hidden; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

ol, ul {
  list-style: none; }

button, a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

button > div {
  position: relative;
  height: 100%;
  overflow: visible; }

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto; }

body {
  position: relative;
  min-height: 100%;
  padding: 256px 0 96px;
  background: #F5F5F5;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  line-height: 1.15;
  font-family: Roboto, sans-serif; }

.vanish {
  display: none !important; }

.cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FFF;
  -webkit-animation: fade 0.4s forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation: fade 0.4s forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  z-index: 999; }

@-webkit-keyframes fade {
  to {
    visibility: hidden;
    opacity: 0; } }
@keyframes fade {
  to {
    visibility: hidden;
    opacity: 0; } }
nav {
  position: fixed;
  height: 64px;
  top: 0;
  right: 0;
  left: 0;
  background: #2196F3;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.3s, height 0s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3; }
  @media (max-width: 767px) {
    nav {
      height: 56px; } }
  @media (max-height: 450px) {
    nav {
      height: 48px; } }
  nav .title {
    padding: 16px 24px 16px 80px;
    color: #FFF;
    font-size: 20px;
    line-height: 32px; }
    @media (max-width: 767px) {
      nav .title {
        padding: 12px 24px 12px 72px; } }
    @media (max-height: 450px) {
      nav .title {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 18px;
        line-height: 24px; } }
  nav.waterfall {
    position: absolute;
    height: 256px;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, -webkit-transform 0.4s, box-shadow 0.3s, transform 0.4s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
    nav.waterfall h1 {
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.4), 0 0 8px rgba(0, 0, 0, 0.2); }
    nav.waterfall.animate {
      opacity: 0;
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
      will-change: opacity, transform; }
      nav.waterfall.animate .bg-wrapper {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        will-change: transform; }
    nav.waterfall .bg-wrapper {
      opacity: 1; }
  nav > div {
    position: relative;
    height: 100%; }
  nav h1 {
    display: inline-block;
    position: absolute;
    max-height: 72px;
    right: 24px;
    bottom: 80px;
    left: 80px;
    font-size: 56px;
    line-height: 48px;
    font-weight: 400;
    text-align: left;
    vertical-align: bottom;
    z-index: 9;
    overflow: visible; }
    @media (max-width: 767px) {
      nav h1 {
        left: 72px; } }
    @media (max-width: 450px) {
      nav h1 {
        max-height: none;
        bottom: 36px;
        font-size: 44px; } }
  nav .bg-wrapper {
    height: 100%;
    opacity: 0;
    transition: -webkit-transform 0.3s, opacity 0.2s, transform 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  nav .bg-image {
    height: 100%;
    background: url(material.jpg) center;
    background-size: cover; }
  nav.hide, nav.animate {
    visibility: hidden;
    -webkit-transform: translateY(-64px);
    transform: translateY(-64px);
    transition: -webkit-transform 0.3s, visibility 0s 0.6s, box-shadow 0.6s, transform 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
    box-shadow: none; }
  nav.fade {
    opacity: 0;
    box-shadow: none;
    transition: all 0.3s, box-shadow 0s, opacity 0.16s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  @media (min-width: 768px) {
    nav.hide ~ .ghost {
      position: fixed;
      height: 64px;
      width: 72px;
      top: 0;
      left: 0;
      z-index: 8; }
    nav:hover ~ .ghost {
      opacity: 0; } }

.menu {
  position: fixed;
  height: 48px;
  width: 48px;
  top: 8px;
  left: 12px;
  border-radius: 50%;
  background: transparent;
  transition: -webkit-transform 0.3s, background 0.2s, transform 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 6; }
  @media (max-width: 767px) {
    .menu {
      top: 4px;
      left: 4px; } }
  @media (max-height: 450px) {
    .menu {
      top: 0; } }
  .menu > div {
    border-radius: 50%;
    padding: 12px;
    -webkit-transform-origin: 32% 50%;
    transform-origin: 32% 50%;
    transition: -webkit-transform 0.22s, transform 0.22s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .menu svg {
    height: 24px;
    width: 24px;
    fill: #FFF; }
  .menu:active {
    background: rgba(0, 0, 0, 0.08); }
    .menu:active.dark-bg-true {
      background: rgba(255, 255, 255, 0.1); }
  @media (min-width: 768px) {
    .menu:hover {
      background: rgba(0, 0, 0, 0.08); }
      .menu:hover.dark-bg-true {
        background: rgba(255, 255, 255, 0.1); }
      .menu:hover ~ .ghost {
        opacity: 0; } }
  .menu.hide {
    visibility: hidden;
    -webkit-transform: translateY(-69px);
    transform: translateY(-69px);
    transition: -webkit-transform 0.3s, visibility 0s 0.3s, background 0.2s, transform 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .menu.animate {
    background: transparent !important; }
    .menu.animate > div {
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      will-change: transform; }
  .menu:hover + .nav-drawer {
    will-change: transform; }

.drag-nav-drawer {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: -100%;
  -webkit-transform: translateX(16px);
  transform: translateX(16px);
  z-index: 7; }

header {
  position: absolute;
  width: 100%;
  top: 50vh;
  padding: 0 36px;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: -webkit-transform 0.5s, transform 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 5; }

h1 {
  color: #FFF;
  font-size: 48px;
  text-align: center;
  transition: -webkit-transform 0.3s, transform 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  h1 > div {
    display: inline-block;
    line-height: 0.9; }
    h1 > div > span {
      display: block; }
  h1 > div:first-child {
    position: relative;
    height: 115px;
    width: 181.5px;
    border-radius: 6.5px;
    padding: 8px 26px;
    background: #FFF;
    color: #2196F3;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.08);
    -webkit-animation: card 0.8s forwards 0.5s;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation: card 0.8s forwards 0.5s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: translateX(95.75px) scale(0.7);
    transform: translateX(95.75px) scale(0.7);
    opacity: 0;
    z-index: 1; }
    @media (max-width: 480px) {
      h1 > div:first-child {
        -webkit-transform: translateY(51.5px) scale(0.7);
        transform: translateY(51.5px) scale(0.7);
        -webkit-animation: card-small 0.7s forwards 0.5s;
        -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation: card-small 0.7s forwards 0.5s;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); } }
    h1 > div:first-child > span:last-child {
      font-size: 63px; }
  h1 > br {
    display: none; }
    @media (max-width: 480px) {
      h1 > br {
        display: block; } }
  h1 > div:last-child {
    height: 100px;
    width: 179.5px;
    margin: 7.5px 0 7.5px 12px;
    text-align: left;
    -webkit-transform: translateX(-96.75px);
    transform: translateX(-96.75px);
    opacity: 0;
    -webkit-animation: slide 0.4s forwards 0.9s;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation: slide 0.4s forwards 0.9s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
    @media (max-width: 480px) {
      h1 > div:last-child {
        margin: 0;
        -webkit-transform: translateY(-59.5px);
        transform: translateY(-59.5px);
        -webkit-animation: slide-small 0.315s forwards 0.885s;
        -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation: slide-small 0.315s forwards 0.885s;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); } }
    h1 > div:last-child > span:first-child {
      font-size: 70px;
      -webkit-transform: translateX(-1px);
      transform: translateX(-1px); }
    h1 > div:last-child > span:last-child {
      font-size: 41.93px; }

@-webkit-keyframes card {
  50% {
    transform: scale(1) translateX(95.75px);
    opacity: 1; }
  100% {
    transform: none;
    opacity: 1; } }
@keyframes card {
  50% {
    transform: scale(1) translateX(95.75px);
    opacity: 1; }
  100% {
    transform: none;
    opacity: 1; } }
@-webkit-keyframes slide {
  70% {
    opacity: 1; }
  100% {
    transform: none;
    opacity: 1; } }
@keyframes slide {
  70% {
    opacity: 1; }
  100% {
    transform: none;
    opacity: 1; } }
@-webkit-keyframes card-small {
  55% {
    transform: scale(1) translateY(51.5px);
    opacity: 1; }
  100% {
    transform: none;
    opacity: 1; } }
@keyframes card-small {
  55% {
    transform: scale(1) translateY(51.5px);
    opacity: 1; }
  100% {
    transform: none;
    opacity: 1; } }
@-webkit-keyframes slide-small {
  70% {
    opacity: 1; }
  100% {
    transform: none;
    opacity: 1; } }
@keyframes slide-small {
  70% {
    opacity: 1; }
  100% {
    transform: none;
    opacity: 1; } }
.nav-drawer {
  visibility: hidden;
  position: fixed;
  height: 100vh;
  width: 300px;
  max-width: calc(100% - 56px);
  top: 0;
  left: 0;
  background: #FFF;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: -webkit-transform 0.3s, visibility 0s 0.3s, transform 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.14), 0 16px 24px 2px rgba(0, 0, 0, 0.1), 0 6px 30px 5px rgba(0, 0, 0, 0.08);
  z-index: 10; }
  .nav-drawer > .scrollbar-animate {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto; }
  @media (min-width: 768px) {
    .nav-drawer > * {
      width: 320px;
      -webkit-transform: none;
      transform: none;
      transition: -webkit-transform 0.2s, transform 0.2s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 1s; }
      .nav-drawer > * > * {
        width: 300px;
        -webkit-transform: none;
        transform: none;
        transition: -webkit-transform 0.2s, transform 0.2s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 1s; }
    .nav-drawer:hover > * {
      -webkit-transform: translateX(-20px);
      transform: translateX(-20px);
      transition-delay: 0s; }
      .nav-drawer:hover > * > * {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
        transition-delay: 0s; } }
  .nav-drawer .logo {
    position: relative;
    height: 160px;
    background: url(map.svg) center no-repeat #2196F3;
    background-size: cover; }
    .nav-drawer .logo > header {
      width: 400px;
      padding: 6px 0 0 0;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(0.7);
      transform: translate(-50%, -50%) scale(0.7); }
    .nav-drawer .logo h1 > div {
      -webkit-animation: none;
      -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      animation: none;
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      -webkit-transform: none;
      transform: none;
      opacity: 1; }
    .nav-drawer .logo h1 > div:last-child {
      margin: 7.5px 0 7.5px 12px; }
  .nav-drawer ul {
    list-style: none;
    padding: 8px 0; }
    .nav-drawer ul li {
      display: block;
      position: relative;
      height: 48px; }
      .nav-drawer ul li svg {
        position: absolute;
        height: 24px;
        width: 24px;
        top: 50%;
        left: 20px;
        fill: rgba(0, 0, 0, 0.54);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 1;
        pointer-events: none; }
      .nav-drawer ul li a {
        display: block;
        padding: 14px 16px 14px 72px;
        color: rgba(0, 0, 0, 0.87);
        line-height: 20px;
        font-weight: 500;
        text-decoration: none;
        transition: background 0.4s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
      .nav-drawer ul li a:hover {
        background: #F5F5F5;
        transition: background 0.2s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
    .nav-drawer ul li.active svg {
      fill: #2196F3; }
    .nav-drawer ul li.active a {
      background: #EEE;
      color: #2196F3; }
  .nav-drawer.active {
    visibility: visible;
    -webkit-transform: none;
    transform: none;
    transition-delay: 0s;
    will-change: transform; }
    .nav-drawer.active + .scrim {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s; }
  .nav-drawer.dragging:after {
    content: '';
    display: block;
    height: 100vh;
    width: 100%;
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); }

.scrim {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s, visibility 0s 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9; }

section {
  position: relative;
  height: 100vh;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(128px);
  transform: translateY(128px);
  -webkit-animation: fade-in 0.5s forwards 0.4s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation: fade-in 0.5s forwards 0.4s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.2);
  z-index: 1; }
  section:first-of-type {
    box-shadow: none; }
    .home section:first-of-type {
      background-color: #2196F3; }
  section.fade {
    -webkit-transform: none;
    transform: none;
    -webkit-animation: fade-in 0.6s forwards 0.6s;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation: fade-in 0.6s forwards 0.6s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

.no-shadow {
  box-shadow: none !important; }

@-webkit-keyframes fade-in {
  100% {
    opacity: 1;
    transform: none; } }
@keyframes fade-in {
  100% {
    opacity: 1;
    transform: none; } }
section button {
  position: relative;
  height: 36px;
  border-radius: 2px;
  padding: 0 16px;
  background: #2196F3;
  color: #FFF;
  font-size: 15px;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transform-origin: center;
  transform-origin: center;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.08); }
  @media (min-width: 768px) {
    section button:hover {
      background: #42A5F5;
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.08); } }
  section button:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.14), 0 8px 10px 1px rgba(0, 0, 0, 0.1), 0 3px 14px 2px rgba(0, 0, 0, 0.08); }

section .card {
  width: 240px;
  margin: 0 16px 16px 0;
  border-radius: 2px;
  padding: 24px 0;
  background: #FFF;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.08); }
  section .card.flat {
    box-shadow: none;
    border-radius: 8px; }

.card.large {
  width: 320px; }

section h2 {
  margin-bottom: 36px;
  color: #2196F3;
  font-size: 36px;
  font-weight: 500; }

section h3 {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 400; }

section p, section ul {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 2;
  transition: -webkit-transform 0.56s, opacity 0.56s, transform 0.56s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  section p em, section ul em {
    font-size: 1.1em;
    font-weight: 500;
    font-style: normal; }

section ul > li {
  list-style: square;
  margin-left: 24px;
  overflow: visible; }

p.small, .divide > .column1 .img p, .divide > .column2 .img p, .material > p, .card p, ul.small {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.4; }

p.large, ul.large {
  margin-bottom: 28px;
  font-size: 20px;
  line-height: 2; }

section a {
  color: inherit;
  overflow: visible; }

.standard {
  display: flex;
  height: auto;
  background: #F5F5F5; }
  .standard > .wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh; }
    .standard > .wrapper > * {
      padding: 72px 80px; }
      @media (max-width: 767px) {
        .standard > .wrapper > * {
          padding: 64px 72px; } }
      @media (max-width: 450px) {
        .standard > .wrapper > * {
          padding: 64px 16px; } }
    .standard > .wrapper > .text {
      flex: 4;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.14), 0 8px 10px 1px rgba(0, 0, 0, 0.1), 0 3px 14px 2px rgba(0, 0, 0, 0.08);
      z-index: 1; }
      .standard > .wrapper > .text > *:last-child {
        margin-bottom: 0; }
    .standard > .wrapper > .image {
      flex: 3; }
      @media (max-width: 900px) {
        .standard > .wrapper > .image {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          filter: grayscale(100%); } }
  .standard.small-image {
    padding: 72px 80px; }
    @media (max-width: 767px) {
      .standard.small-image {
        padding: 72px; } }
    @media (max-width: 450px) {
      .standard.small-image {
        padding: 72px 16px; } }
    .standard.small-image > .wrapper {
      min-height: auto; }
      .standard.small-image > .wrapper > * {
        padding: 60px 0; }
      .standard.small-image > .wrapper > .text {
        padding: 0 80px 0 0;
        background: transparent;
        box-shadow: none; }
        @media (max-width: 767px) {
          .standard.small-image > .wrapper > .text {
            padding: 0; } }
      .standard.small-image > .wrapper > .image {
        flex: none;
        position: static;
        width: 192px;
        background-size: 192px;
        filter: none;
        transition: -webkit-transform 0.56s, opacity 0.56s, transform 0.56s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
        @media (max-width: 767px) {
          .standard.small-image > .wrapper > .image {
            position: absolute;
            top: -56px;
            right: -56px;
            bottom: auto;
            left: auto;
            height: 192px;
            -webkit-transform: scale(0.9);
            transform: scale(0.9); }
            .standard.small-image > .wrapper > .image.nospace {
              display: none; } }
        .standard.small-image > .wrapper > .image.scroll-animate {
          opacity: 0;
          -webkit-transform: scale(0.5);
          transform: scale(0.5); }
        .standard.small-image > .wrapper > .image + .text {
          padding: 0 0 0 80px; }
          @media (max-width: 767px) {
            .standard.small-image > .wrapper > .image + .text {
              padding: 0; } }
  .standard h2, .standard p {
    width: 100%;
    transition: -webkit-transform 0.56s, opacity 0.56s, transform 0.56s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .standard button {
    transition: all 0.2s, -webkit-transform 0.4s 0.2s, opacity 0.4s 0.2s, transform 0.4s 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

.divide {
  display: flex;
  flex-wrap: wrap;
  text-align: center; }
  .divide h2 {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 0 0 6px 6px;
    padding: 24px;
    background: #FFF;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: -webkit-transform 0.4s, transform 0.4s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.08); }
    @media (max-width: 767px) {
      .divide h2 {
        font-size: 28px;
        padding: 16px; } }
    @media (orientation: portrait) {
      .divide h2 {
        display: none; } }
  .divide.scroll-animate h2 {
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%); }
  .divide > .column1, .divide > .column2 {
    height: 100%;
    width: 50%; }
    .divide > .column1 .img, .divide > .column2 .img {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
      height: 100%;
      padding: 24px 84px;
      color: #FFF; }
      .divide > .column1 .img h3, .divide > .column2 .img h3 {
        width: 100%;
        margin-bottom: 24px;
        font-size: 64px;
        font-weight: 500;
        transition: -webkit-transform 0.56s, opacity 0.56s, transform 0.56s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
      .divide > .column1 .img p, .divide > .column2 .img p {
        margin: 0; }
    @media (orientation: portrait) {
      .divide > .column1, .divide > .column2 {
        height: 50%;
        width: 100%; }
        .divide > .column1 .img, .divide > .column2 .img {
          padding: 24px 14%; } }
  .divide > a {
    height: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .divide > a button {
      transition: all 0.2s, -webkit-transform 0.4s 0.56s, opacity 0.4s 0.56s, transform 0.4s 0.56s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .divide.text-only {
    height: auto;
    background: url(grey-bg.jpg) center;
    background-size: cover; }
    .divide.text-only .wrapper {
      display: flex;
      width: 100%;
      min-height: 100vh;
      justify-content: space-between;
      padding: 16px 0;
      background: rgba(255, 255, 255, 0.9); }
      @media (max-width: 900px) {
        .divide.text-only .wrapper {
          flex-direction: column; } }
    .divide.text-only .wrapper::before, .divide.text-only .wrapper::after {
      content: ''; }
    .divide.text-only h2 {
      display: block !important;
      margin: 0;
      padding: 36px 16px;
      background: none; }
      @media (max-width: 900px) {
        .divide.text-only h2 {
          position: static;
          padding: 24px 16px;
          -webkit-transform: none;
          transform: none; }
          .divide.scroll-animate.text-only h2 {
            -webkit-transform: translateY(75px);
            transform: translateY(75px); } }
    .divide.text-only .text {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      margin: 24px 16px;
      color: rgba(0, 0, 0, 0.87); }
      .divide.text-only .text:first-of-type {
        margin-right: 0; }
        @media (max-width: 900px) {
          .divide.text-only .text:first-of-type {
            margin-right: 16px; } }
      .divide.text-only .text:last-of-type {
        margin-right: 16px; }
      .divide.text-only .text .image {
        height: 96px;
        width: 96px;
        margin-bottom: 32px;
        transition: -webkit-transform 0.56s, opacity 0.56s, transform 0.56s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
        .divide.text-only .text .image svg {
          height: 100%;
          width: 100%;
          fill: rgba(0, 0, 0, 0.54); }
        .divide.text-only .text .image.scroll-animate {
          -webkit-transform: translateY(50px);
          transform: translateY(50px); }
      .divide.text-only .text p {
        margin: 0;
        width: 100%;
        max-width: 400px;
        font-size: 16px;
        line-height: 1.8;
        text-align: justify;
        text-align-last: center; }

.material {
  height: auto;
  padding-bottom: 40px;
  background: #F5F5F5;
  text-align: center; }
  .material .h2 {
    padding: 40px 0 80px;
    background: #FF9800; }
    .material .h2 h2 {
      margin: 0;
      color: #FFF;
      transition: -webkit-transform 0.56s, opacity 0.56s, transform 0.56s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
    .material .h2 + .cards-container {
      margin-top: -40px; }
  .material .cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    padding-left: 16px; }
    .material .cards-container .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: -webkit-transform 0.56s, opacity 0.56s, transform 0.56s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
      .card > * {
        margin-bottom: 24px; }
      .card > *:last-child {
        margin-bottom: 0; }
      .card .img {
        height: 96px;
        width: 96px;
        border-radius: 50%;
        background: #9E9E9E; }
      .card h3 {
        padding: 0 16px; }
      .card p {
        padding: 0 16px;
        line-height: 1.24;
        text-align: justify;
        text-align-last: center; }
  .material > p {
    margin: 24px 0 0;
    padding: 0 16px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500; }

.scroll-animate {
  opacity: 0; }

h2.scroll-animate, h3.scroll-animate, .card.scroll-animate {
  -webkit-transform: translateY(50px);
  transform: translateY(50px); }

p.scroll-animate, ul.scroll-animate {
  -webkit-transform: translateY(25px);
  transform: translateY(25px); }

button.scroll-animate {
  -webkit-transform: scale(0.8);
  transform: scale(0.8); }

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  height: 96px;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2196F3;
  font-weight: 500;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.2);
  z-index: 1; }
  footer a {
    position: relative;
    padding: 139px 24px;
    text-decoration: none;
    transition: background 0.3s, -webkit-transform 0.4s 0.2s, opacity 0.4s 0.2s, transform 0.4s 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
    footer a:hover {
      background: rgba(0, 0, 0, 0.08); }
    footer a span {
      color: rgba(255, 255, 255, 0.54);
      font-size: 15px;
      line-height: 18px; }
      footer a span + div {
        display: flex; }
        footer a span + div span {
          padding: 0 10px !important;
          color: rgba(255, 255, 255, 0.87);
          font-size: 20px;
          line-height: 24px;
          white-space: nowrap; }
        footer a span + div svg {
          height: 24px;
          width: 24px;
          fill: rgba(255, 255, 255, 0.87); }
  footer a.left {
    border-radius: 0 160px 160px 0; }
    footer a.left span {
      padding: 0 10px 0 34px; }
  footer a.right {
    border-radius: 160px 0 0 160px;
    text-align: right; }
    footer a.right span {
      padding: 0 34px 0 10px; }
  footer.compress a.left {
    width: 72px; }
    footer.compress a.left span {
      opacity: 0; }
      footer.compress a.left span + div span {
        display: none; }
  footer.scroll-animate {
    opacity: 1; }
    footer.scroll-animate a.left {
      opacity: 0;
      -webkit-transform: translateX(20px);
      transform: translateX(20px); }
    footer.scroll-animate a.right {
      opacity: 0;
      -webkit-transform: translateX(-20px);
      transform: translateX(-20px); }

.fab {
  position: fixed;
  height: 56px;
  width: 56px;
  bottom: 20px;
  left: 50%;
  border-radius: 50%;
  padding: 14px;
  background: #FF6E40;
  -webkit-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  transition: all 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.14), 0 6px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 18px 0 rgba(0, 0, 0, 0.08);
  z-index: 6; }
  .fab svg {
    height: 28px;
    width: 28px;
    fill: #FFF;
    transition: -webkit-transform 0.3s, transform 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .fab.back-to-top svg {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  @media (min-width: 768px) {
    .fab > div {
      transition: -webkit-transform 0.2s, transform 0.2s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
    .fab:hover {
      -webkit-transform: translateX(-50%) scale(1.3);
      transform: translateX(-50%) scale(1.3); }
      .fab:hover > div {
        -webkit-transform: scale(0.9);
        transform: scale(0.9); } }
  .fab:active {
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.14), 0 12px 17px 2px rgba(0, 0, 0, 0.1), 0 5px 22px 4px rgba(0, 0, 0, 0.08); }
  .fab.animate {
    -webkit-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
    will-change: transform; }

.ripple {
  visibility: hidden;
  position: absolute;
  height: 56px;
  width: 56px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.08);
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: none;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none; }
  .ripple.appear, .ripple.fade-out.finish, .menu .ripple.fade-out.finish, button .ripple.fade-out.finish, .fab .ripple.fade-out.finish {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(12);
    transform: scale(12);
    transition: -webkit-transform 0.7s, opacity 0.26s 0.04s, transform 0.7s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .ripple.fade-out.finish {
    visibility: hidden !important;
    opacity: 0 !important;
    transition: -webkit-transform 0.7s, opacity 0.4s, visibility 0s 0.4s, transform 0.7s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

.menu .ripple {
  background: rgba(0, 0, 0, 0.12); }
  .menu .ripple.appear, .menu .ripple.fade-out.finish {
    -webkit-transform: scale(1.9);
    transform: scale(1.9);
    transition: -webkit-transform 0.46s, opacity 0.21s 0.04s, transform 0.46s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .menu .ripple.fade-out.finish {
    transition: -webkit-transform 0.46s, opacity 0.4s, visibility 0s 0.4s, transform 0.46s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

.menu.dark-bg-true .ripple {
  background: rgba(255, 255, 255, 0.2); }

button .ripple {
  background: rgba(255, 255, 255, 0.26); }
  button .ripple.appear, button .menu .ripple.fade-out.finish, .menu button .ripple.fade-out.finish, button .ripple.fade-out.finish, button .fab .ripple.fade-out.finish, .fab button .ripple.fade-out.finish {
    -webkit-transform: scale(5);
    transform: scale(5);
    transition: -webkit-transform 0.46s, opacity 0.21s 0.04s, transform 0.46s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  button .ripple.fade-out.finish {
    transition: -webkit-transform 0.46s, opacity 0.4s, visibility 0s 0.4s, transform 0.46s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

.fab .ripple {
  background: rgba(255, 255, 255, 0.28); }
  .fab .ripple.appear, .fab .ripple.fade-out.finish {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    transition: -webkit-transform 0.46s, opacity 0.21s 0.04s, transform 0.46s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .fab .ripple.fade-out.finish {
    transition: -webkit-transform 0.46s, opacity 0.4s, visibility 0s 0.4s, transform 0.46s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

::-moz-selection {
  color: #FFF;
  background: #FF6E40; }

::selection {
  color: #FFF;
  background: #FF6E40; }
